* {
  box-sizing: border-box;
}

.main {
  background-color: black;
  color: aliceblue;
  width: 60vw;
  height: 80vh;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}